{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% crispy product_form product_form.helper %}
{% crispy form %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6">
            <div class="card-header">
                <h2>Введите описание продукта</h2>
            </div>
            <div class="card-body">
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">
                    {% if object %}
                    Изменить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="card-header">
                <h2>Введите данные версии продукта</h2>
            </div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
    {% endblock %}